## Q1: Join Tuples if similar initial element

## While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

In [ ]:
For eg.
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

In [3]:
List = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
print("The original list is: ")
print(List)

result = []
for sub in List:
   if result and result[-1][0] == sub[0]:
      result[-1].extend(sub[1:])
   else:
      result.append([ele for ele in sub])
result = list(map(tuple, result))

print("The joined list is: " )
print(result)

The original list is:
[(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
The joined list is:
[(5, 6, 7, 8), (6, 10), (7, 13)]

## Q2: Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.

In [ ]:
For eg.

The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)

In [1]:
test_tup = (1, 5, 7, 8, 10) 
 
print("The original tuple : " + str(test_tup)) 

res = tuple(i * j for i, j in zip(test_tup, test_tup[1:])) 

print("Resultant tuple after multiplication : " + str(res))

The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : (5, 35, 56, 80)

## Q3: Check is tuples are same or not?

In [ ]:
Two tuples would be same if both tuples have same element at same index

t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same

In [6]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

if t1 == t2:
    print("the two tuples are same")
else:
    print("the two tuple are not same")

the two tuple are not same

## Q4: Count no of tuples, list and set from a list

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]


Output:
List-2
Set-2
Tuples-1

In [23]:
def count_types(lst):
    tuple_count = 0
    list_count = 0
    set_count = 0

    for element in lst:
        if isinstance(element, tuple):
            tuple_count += 1
        elif isinstance(element, list):
            list_count += 1
        elif isinstance(element, set):
            set_count += 1

    return list_count, set_count, tuple_count

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_count, set_count, tuple_count = count_types(list1)

print(f"List-{list_count}")
print(f"Set-{set_count}")
print(f"Tuples-{tuple_count}")

List-2
Set-2
Tuples-1

## Q5: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print No such candidate

In [ ]:
Input:

Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022


Output

('Manohar', 'B.tech', 'Python', '2022')

In [5]:
student1={
    "manohar",
     "B.Tech",
     "python",
     "2022"
}

student2={
    "ponian",
    "b.sc",
    "c++",
    "2020"
}

student3={
    "job Role Requirement",
    "Python",
    "B.Tech",
    "2022"
}


print(student1)
print(student2)
print(student3)

{'python', '2022', 'manohar', 'B.Tech'}
{'b.sc', 'c++', '2020', 'ponian'}
{'job Role Requirement', '2022', 'Python', 'B.Tech'}